*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(0, 0, 0);
    color: rgb(187, 187, 187);
    background-image: linear-gradient(black,black,grey, black);
    background-repeat: no-repeat;
}

header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    background-color: black;
}

.logo {
    font-size: 30px;
}

nav a {
    color: whitesmoke;
    text-decoration: none;
    margin: 0rem 1rem;
}

.logo-div svg {
    height: 60px;
}

main {
    cursor: default;
    margin: 50px 20px;
}

main p{
    font-size: 150px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
}

main h1 {
    margin: 20px 0px;
}

main span {
    margin-left: 30px;
    font-size: 25px;
}


.slider {
    margin: 80px 20px;
    display: flex;
    gap: 20px;
    align-items: center;
    cursor: default;
}

.image {
    width: 70%;
}

.image img {
    height: 500px;
    width: 100%;
    border: 1px dashed white;
    object-fit: cover;
}

.image-details {
    width: 30%;
    padding: 10px;
    border: 1px dotted whitesmoke;
    display: flex;
    flex-direction: column;
}

.image-details p {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 80px;
    font-weight: bolder;
    overflow:scroll;
    color: rgb(159, 0, 0);
    
}

.image-details p::-webkit-scrollbar {
    display: none;
}


.projects {
    padding: 50px 0px;
    box-shadow: inset 5px 5px 500px #000;
}

.projects p{
    text-align: center;
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-bottom: 20px;
}

/* .wrapper-holder {
    height: 100%;
    width: 100%;
    animation: slider 30s ease-in-out infinite alternate;
}
 */
.scroll {
  display: flex;  
  gap: 40px;
  flex-wrap: nowrap;
  overflow-x: auto;
  margin: 50px 0px;
  padding: 0px 50px;
}


@keyframes slider {
    0%{transform: translateX(0%);}
    10%{transform: translateX(-100%);}
    20%{transform: translateX(-200%);}
    30%{transform: translateX(-300%);}
    40%{transform: translateX(-400%);}
    50%{transform: translateX(-500%);}
    60%{transform: translateX(-600%);}
    70%{transform: translateX(-700%);}
    90%{transform: translateX(0%);}
    100%{transform: translateX(0%);}
}

.scroll::-webkit-scrollbar {
    display: none;
}


.card {
    z-index: -1;
    position: relative;
    animation: slider 10s 4s ease-in-out infinite;
}

.card p {
    color: white;
    text-shadow: 1px 1px 10px black;
    text-align: center;
    color: rgb(159, 0, 0);
}

.card img {
    height: 350px;
    width: 400px;
    object-fit: cover;
}

.fun-activity {
    padding: 50px 0px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align:justify;
    background-color: black;
}

.fun-activity-text {
    font-size: 60px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.fun-activity-text span {
    color: rgb(159, 0, 0);
 }

.marathon {
    display: flex;
    gap: 20px;
    margin: 10px 20px;
    border: 1px dotted whitesmoke;
    padding: 20px 10px;
    cursor: default;
}

.fun-text {
    font-size: 45px;
}

.fun-text span{
    color: rgb(159, 0, 0);
    text-decoration: underline;
}

.marathon img {
    width: 500px;
    object-fit: cover;
}


.ideas-section {
    margin: 50px;
}

.ideas1 {
    display: flex;
    gap: 5px;
    align-items: center;  
    margin: 50px 0px; 
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.ideas {
    margin: 10px 0px;
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}


.idea-container1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 800px;
    background-color: rgb(0, 0, 0);
    margin: 5px 10px;
}

.death {
    transform: rotate(270deg);
    text-wrap: nowrap;
    width: 10%;
    z-index: -1;
}

.idea-container2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 250px;
    background-color: rgb(0, 0, 0);
    margin:5px 10px;

}
.idea-container3 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 250px;
    background-color: rgb(0, 0, 0);
    margin:5px 10px;

}
.idea-container4 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 250px;
    background-color: rgb(0, 0, 0);
    margin:5px 10px;

}

.random {
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 50px 20px;
}




footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 100px 50px;
}

.copy p{
    text-align: center;
    padding: 25px 0px;
    background-color: rgb(204, 204, 204);
    font-family: monospace;
    color: rgb(0, 0, 0);
}

.footer-logo {
    width: 30%;
}

.code {
    width: 30%;
}

@keyframes slidermobile {
    0%{transform: translateX(0%);}
    10%{transform: translateX(-100%);}
    20%{transform: translateX(-200%);}
    30%{transform: translateX(-300%);}
    40%{transform: translateX(-400%);}
    50%{transform: translateX(-500%);}
    60%{transform: translateX(-600%);}
    70%{transform: translateX(-700%);}
    90%{transform: translateX(0%);}
    100%{transform: translateX(0%);}
}

@media screen and (max-width:600px){

    nav{
        text-decoration:underline;
    }

    main p {
        font-size: 77px;
        margin-bottom: 50px;
        position: sticky;
        top: 10%;
        z-index: -5;
    }

    main h1 {
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    .slider {
        flex-direction: column;
        gap: 5px;
    }

    .image {
        width: 100%;
    }

    .image img {
        height: 350px;
    }

    .image-details {
        width: 100%;
    }

    .scroll {
        margin:50px 0px;
    }

    .card {
        animation: slidermobile 25s ease-in-out infinite;
    }

    .marathon {
        flex-direction: column;
    }

    .marathon img {
        width: 100%;
    }

    .small {
        font-size: 40px;
    }

    .fun-text {
        font-size: 35px;
    }

    .ideas1 {
        font-size: 30px;
    }

    .idea-container1 {
        height: 550px;
        z-index: -3;
    }

    .idea-container1 p, .idea-container2 p, .idea-container4 p {
        transform: rotate(270deg);
        text-wrap: nowrap;
        z-index: -1;
    }

    .idea-container2 {
        height: 150px;
        z-index: -3;
    }

    .idea-container3 {
        height: 150px;
        text-align: center;
    }

    .idea-container4 {
        height: 200px;
        z-index: -3;
    }

    footer {
        margin:30px 0px;
    }

}