header {
  position: sticky;
  top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  background-color: black;
  width: 100%;
  z-index: 10;
  padding: 0px 10px;
}

.logo {
  margin-top: 10px;
  height: 60px;
}

nav a {
  color: whitesmoke;
  text-decoration: none;
  margin: 0rem 1rem;
}

.menu {
  display: none;
}

.logo-div {
  font-size: 60px;
}

@media screen and (max-width:600px){
  .header {
    justify-content: space-between;
  }
  .menu {
    display: block;
    font-size: 50px;
  }
  .navigation-bar1, .navigation-bar2{
      display: none;
  }

  header {
    position: sticky;
    top: 0;
  }
}