body{
  background-color: rgb(0, 0, 0);
  color: rgb(187, 187, 187);
  background-image: linear-gradient(black,black,grey, black);
}

header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  background-color: black;
  width: 100%;
}

.logo {
  font-size: 30px;
}

nav a {
  color: whitesmoke;
  text-decoration: none;
  margin: 0rem 1rem;
}

.menu {
  display: none;
}

.logo-div {
  font-size: 60px;
}